@import "tailwindcss";
@import "tw-animate-css";
@import 'tailwind-scrollbar-hide/v4';

@layer base {
  ::selection {
    @apply bg-text text-background;
  }
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e0 #f7fafc;
  
  &::-webkit-scrollbar {
    width: 8px;
  }
  
  &::-webkit-scrollbar-track {
    background: #f7fafc;
    border-radius: 4px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #cbd5e0;
    border-radius: 4px;
    border: 2px solid #f7fafc;
    
    &:hover {
      background-color: #a0aec0;
    }
  }
}

@theme {
  --color-primary: #2e3440;
  --color-background: #3b4252;
  --color-text: #d8dee9;
  --color-border: #4c566a;
  --color-hover: #81a1c1;
  --color-texthover: #eceff4;
}